<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigo.project.bigo.marketsituation.mapper.SlipConfigMapper">

	<delete id="deleteSlipConfig" parameterType="Long">
        delete from bg_slip_config where id = #{id}
    </delete>
</mapper>
